.__github-wiki-live-edit__ {
  padding: 30px 30px 0;
}
.__github-wiki-live-edit__ .container {
  width: auto;
}
.__github-wiki-live-edit__ .header,
.__github-wiki-live-edit__ .gh-header-actions a[href$='_new'],
.__github-wiki-live-edit__ .pagehead,
.__github-wiki-live-edit__ .comment-form-head,
.__github-wiki-live-edit__ #gollum-editor-edit-summary .jaws,
.__github-wiki-live-edit__ .site-footer-container {
  display: none;
}

.__github-wiki-live-edit--btn-toggle-live-edit__ span {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 16px 16px;
}
.__github-wiki-live-edit__ .gollum-editor-title-field {
  box-sizing: border-box;
  width: 50%;
  padding-right: 24px;
}
.__github-wiki-live-edit__ #gollum-editor-help {
  position: relative;
  margin-top: 10px;
}
.__github-wiki-live-edit__ .gollum-editor,
.__github-wiki-live-edit__ .gollum-editor-function-bar,
.__github-wiki-live-edit__ .gollum-editor-body {
  margin: 0;
  padding: 0;
}
.__github-wiki-live-edit__ .gh-header,
.__github-wiki-live-edit__ .wiki-wrapper .wiki-content .gollum-editor-title-field {
  margin-bottom: 10px;
}
.__github-wiki-live-edit__ .gollum-editor-function-bar {
  border-bottom: none;
}

.__github-wiki-live-edit__ .previewable-comment-form .write-content,
.__github-wiki-live-edit__ .previewable-comment-form .preview-content {
  display: block;
  box-sizing: border-box;
  width: 50%;
  margin: 30px 0 0 !important;
}
.__github-wiki-live-edit__ .previewable-comment-form .write-content {
  float: left;
  padding: 0 1px 0 0;
  background: #ddd;
}
.__github-wiki-live-edit__ .previewable-comment-form .preview-content {
  float: right;
  position: relative;
  overflow: scroll;
}
.__github-wiki-live-edit__ .wiki-wrapper .wiki-content .previewable-comment-form.preview-selected .preview-content {
  padding-left: 24px;
}
.__github-wiki-live-edit__ .preview-content .markdown-body {
  padding-bottom: 30px;
}
.__github-wiki-live-edit__ .previewable-comment-form {
  overflow: hidden;
}
.__github-wiki-live-edit__ #gollum-editor-body {
  max-height: initial;
  margin: 0;
  padding-right: 15px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  resize: none;
}
.__github-wiki-live-edit__ #gollum-editor-edit-summary {
  position: absolute;
  top: 73px;
  left: 50%;
  box-sizing: border-box;
  width: 50%;
  margin: 0;
  padding-left: 24px;
}
.__github-wiki-live-edit__ #gollum-editor-edit-summary .input-block {
  width: 100%;
}
.__github-wiki-live-edit__ .form-actions {
  position: absolute;
  top: 73px;
  right: 30px;
}
.__github-wiki-live-edit__ .new-discussion-timeline .previewable-comment-form .comment-body {
  padding: 0;
  border-bottom: none;
}
.__github-wiki-live-edit__ .new-discussion-timeline .previewable-comment-form .comment-body > p {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  margin: auto;
  color: rgba(0, 0, 0, 0);
}
